/*===== CSS file table ====== 
    1) General classes
    2) Logo
    3) Navbar
    4) Intro + Overlay + btn
    5) About
    6) Featured Works
    7) Services
    8) Advantages
    9) Numbers
   10) Pricing
   11) Testimonial
   12) Team
   13) News
   14) Contact
   15) 
 =======================*/
:root {
  --clr-primary: #6195ff;
  --clr-headers: #10161a;
  --clr-text: #868f9b;
  --clr-text2: #d8dce2;
  --clr-bg-section:#FAFAFA;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* global outline for debugging purpose only*/
  /* outline: 1px dotted red; */
}

/* =========================
    1) General Classes 
=============================*/
::selection {
  background-color: #6195ff;
  color: #fff;
}
html {
  font-family: sans-serif;
  font-size: 10px;
}

body {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  height: 2000px; /* attention*/
}
a {
  font-family: "Varela Round", sans-serif;
  text-decoration: none;
  color: #fff;
}
i,
a.readmore {
  color: var(--clr-primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #10161a;
}
h1 {
  font-size: 54px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
.clearFix {
  clear: both;
}
.container {
  display: block;
  width: 60%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative; /* attention*/
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}
.btn {
  display: inline-block;
  margin: 5px;
  border: none;
  height: 50px;
  padding: 10px 35px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}
.hover-effect {
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}
.hover-effect:hover {
  opacity: 0.6;
}
.pad-v {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  text-align: center;
  position: relative;
}
.section-title::after {
  position: absolute;
  content: "";
  background-color: var(--clr-primary);
  height: 4px;
  width: 40px;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.section-title .title {
  text-transform: capitalize;
}
/* =========================
    2)  Logo
=============================*/
#header {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding-top: 15px;
}
#header .logo {
  float: left;
}
#header .logo img {
  display: block;
  width: 100px;
}

/* =========================
    3)  Navbar
=============================*/
#header nav {
  float: right;
}
#header nav > ul {
  list-style: none;
}
#header nav > ul > li {
  display: inline-block;
}
#header nav > ul > li > a {
  padding: 3px 5px;
  margin: 3px 5px;
  position: relative;
}

#header nav > ul > li a:after {
  content: "";
  position: absolute;
  background-color: var(--clr-primary);
  width: 0;
  height: 2px;
  top: 100%;
  left: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#header nav > ul > li a.active:after,
#header nav > ul > li a:hover:after {
  width: 100%;
}
#header nav ul li a:hover {
  color: var(--clr-text2);
}
/* TODO: fix the sub menu  */
#header .container nav .dropdown {
  position: relative;
}
#header .container nav ul.sub-menu {
  position: absolute;
  list-style: none;
  padding: 0;
  color: #fff;
  background-color: var(--clr-primary);
  left: -50px;
  bottom: -45px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
#header .container nav .dropdown:hover ul {
  visibility: visible;
  opacity: 1;
}
#header .container nav ul.sub-menu li {
  display: block;
  text-align: center;
  padding: 5px 10px;
  min-width: 150px;
}
/* =========================
    4)  Intro + Overlay + btn
=============================*/
.intro {
  background-image: url(../images/background/background1.webp);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}
.intro .intro-box {
  text-align: center;
}
.intro .intro-box .intro-head,
.intro .intro-box .intro-text {
  color: #fff;
  display: block;
}
.intro .intro-box .intro-head {
  text-transform: uppercase;
}
.intro .intro-box .intro-text {
  line-height: 1.8;
}
.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #1c1d21;
}

.btn-started {
  background-color: #fff;
}
.btn-learn {
  color: #fff;
  background-color: var(--clr-primary);
}
/* =========================
    4)  About
=============================*/
#about .about-columns {
  display: flex;
  margin-top: 100px;
  width: 100%;
  justify-content: space-between;
}

#about .about-columns .col {
  min-width: 28%;
  max-width: 32%;
  border: 1px solid var(--clr-text2);
  height: 290px;
  position: relative;
}
#about .about-columns .col::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1c1d21;
  z-index: -1;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#about .about-columns .col:hover:after {
  width: 100%;
}
#about .about-columns .col .col-content {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#about .col .col-content i {
  margin-bottom: 20px;
}
#about .col .col-content .content-title {
  text-transform: capitalize;
  margin: 12px;
}
#about .col:hover .col-content .content-title {
  color: #fff;
}
#about .col .col-content {
  color: var(--clr-text);
}
/* =========================
    6)  Featured Works
=============================*/
#featured {
  background-color: var(--clr-bg-section);
}

#featured .featured-grid {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
#featured .featured-grid .grid-item {
  position: relative;
}
#featured .featured-grid .grid-item .grid-img::before {
  position: absolute;
  content: "";
  background-color: #1c1d21;
  top: -15px;
  left: -15px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  opacity: 0;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}
#featured .featured-grid .grid-item:hover .grid-img::before {
  opacity: 0.8;
}
#featured .featured-grid .grid-item img {
  max-width: 350px;
}

/*.grid-content: general class hero (absolute) added*/

#featured .grid-content span {
  color: var(--clr-primary);
  text-transform: uppercase;
}
#featured .grid-content h3 {
  color: #fff;
  width: max-content;
}
#featured .grid-content .content-icons a i {
  color: #fff;
  background-color: var(--clr-primary);
  padding: 20px;
  margin: 0;
}

#featured .grid-item .grid-content span,
#featured .grid-item .grid-content h3,
#featured .grid-item .grid-content .content-icons {
  position: relative;
  top: 15px;
  transition-delay: 0.4s;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  opacity: 0;
  visibility: hidden;
}

#featured .grid-item:hover .grid-content span,
#featured .grid-item:hover .grid-content h3,
#featured .grid-item:hover .grid-content .content-icons {
  top: 0;
  opacity: 1;
  visibility: visible;
}
#featured .grid-item:hover .grid-content span {
  transition-delay: 0.05s;
}
#featured .grid-item:hover .grid-content h3 {
  transition-delay: 0.15s;
}
#featured .grid-item:hover .grid-content .content-icons {
  transition-delay: 0.25s;
}
/* =========================
    7)  Services
=============================*/
#services .section-title {
  margin-bottom: 100px;
}
#services .offers-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px, 200px;
  gap: 40px;
}

#services .offers-grid .grid-item {
  display: block;
  position: relative;
  width: 358px;
  height: 210px;
  border: 1px solid var(--clr-text2);
}
#services .offers-grid .grid-item::before {
  position: absolute;
  content: "";
  background-color: #1c1d21;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 0.2s;
  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -ms-transition: width 0.2s;
  -o-transition: width 0.2s;
}
#services .offers-grid .grid-item:hover:before {
  width: 100%;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}
#services .offers-grid .grid-item .item-content .fa {
  position: absolute;
  top: 0;
  left: -45px;
}
#services .offers-grid .grid-item .item-content .content-title {
  text-transform: capitalize;
  width: max-content;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
#services .offers-grid .grid-item:hover .item-content .content-title {
  color: #fff;
}
#services .offers-grid .grid-item .item-content .content-text {
  color: var(--clr-text);
}

/* =========================
    8) Advantages
=============================*/
#advantages {
  position: relative;
  display: block;
  width: 100%;
  background-color: var(--clr-bg-section);
}

#advantages .advantages-list {
  float: left;
  max-width: 45%;
}
#advantages .advantages-list .section-title {
  text-align: left;
  width: 100%;
  margin-bottom: 50px;
}
#advantages .advantages-list .section-title::after {
  left: 0;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

#advantages .advantages-list p {
  color: var(--clr-text);
}

#advantages .advantages-list ul li {
  list-style: none;
  margin: 25px 5px;
  font-size: larger;
  color: var(--clr-text);
  position: relative;
}
#advantages .advantages-list ul li i {
  position: absolute;
  left: -35px;
  border: 1px solid var(--clr-primary);
  padding: 3px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#advantages .advantages-gallery {
  float: right;
  max-width: 45%;
  position: relative;
  overflow: hidden;
}
#advantages .advantages-gallery .slide img {
  max-width: 550px;
}

/*-----css slider without javascript-------*/
.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover {
  background: #fff;
}
input[name="r"] {
  position: absolute;
  visibility: hidden;
}
.slides {
  width: 200%;
  height: 100%;
  display: flex;
}
.slide {
  width: 50%;
  transition: 0.6s;
}
.slide img {
  width: 100%;
  height: 100%;
}
#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -50%;
}
/*------------*/

/* =========================
    9) Numbers
=============================*/
#numbers {
  background-image: url("../images/background/background2.webp");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 280px;
}
#numbers::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #1c1d21;
  z-index: 1;
}

#numbers .container {
  z-index: 100;
  height: 100%;
}
#numbers .container .numbers-colmuns {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#numbers .numbers-colmuns .col {
  width: 100%;
  text-align: center;
}
#numbers .numbers-colmuns .col .fa {
  color: var(--clr-primary);
  margin-bottom: 20px;
}
#numbers .numbers-colmuns .col .number {
  color: #fff;
  font-size: 36px;
}
#numbers .numbers-colmuns .col .text {
  color: #fff;
}

/* =========================
    10) Pricing
=============================*/
#pricing {
  width: 100%;
}

#pricing .pricing-columns {
  margin-top: 100px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

#pricing .pricing-columns .col {
  border: 1px solid #eee;
  display: block;
  width: 360px;
  padding: 43px;
  text-align: center;
  position: relative;
}
#pricing .pricing-columns .col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #1c1d21;
  z-index: -1;
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -ms-transition: height 0.2s;
  -o-transition: height 0.2s;
}
#pricing .pricing-columns .col:hover::before {
  height: 100%;
}
#pricing .pricing-columns .col .col-title {
  text-transform: uppercase;
  color: var(--clr-text);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
#pricing .pricing-columns .col:hover .col-title {
  color: var(--clr-primary);
}
#pricing .pricing-columns .col .col-price {
  margin: 30px auto 30px auto;
  width: 140px;
  height: 140px;
  border: 2px solid var(--clr-primary);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.2s color;
  -webkit-transition: 0.2s color;
  -moz-transition: 0.2s color;
  -ms-transition: 0.2s color;
  -o-transition: 0.2s color;
}
#pricing .pricing-columns .col:hover .col-price {
  color: #fff;
}
#pricing .pricing-columns .col .col-price h3 {
  margin: 35px auto 0;
  padding: 0;
  font-size: 42px;
  color: inherit;
}
#pricing .pricing-columns .col .col-price span {
  margin: auto;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
}
#pricing .pricing-columns .col ul {
  padding: 0;
}
#pricing .pricing-columns .col ul li {
  list-style: none;
  color: var(--clr-text);
  margin-bottom: 24px;
  line-height: 1.8;
}
#pricing .pricing-columns .col .col-btn button {
  color: var(--clr-primary);
  background-color: transparent;
  border: 2px solid var(--clr-primary);
}
#pricing .pricing-columns .col .col-btn button:hover {
  opacity: 0.7;
}

/* =========================
    11) Testimonial
=============================*/
#testimonial {
  width: 100%;
  height: 435px;
  background-image: url("../images/background/background3.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

#testimonial::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1c1d21c0;
}

#testimonial .container .flex-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
#testimonial .container .flex-container .flex-box {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#testimonial .flex-container .flex-box .box-img {
  width: fit-content;
  margin-right: 30px;
}
#testimonial .flex-container .flex-box .box-img img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#testimonial .flex-container .flex-box .box-title {
  width: auto;
}
#testimonial .flex-container .flex-box .box-title h3 {
  color: #fff;
  margin: 5px 0;
}
#testimonial .flex-container .flex-box .box-title span {
  color: var(--clr-primary);
  text-transform: uppercase;
  font-size: 14px;
}
#testimonial .flex-container .flex-box .box-text p {
  color: #fff;
  width: 100%;
}
/* =========================
    12) Team
=============================*/

#team .container .flex-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  
}

#team .flex-container .flex-box {
  padding: 40px 20px;
  background-color: var(--clr-bg-section);
  width: fit-content;
  position: relative;
}
#team .flex-container .flex-box::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0;
  background-color: #1C1D21;
  opacity: 0.8;
  z-index: 1;
  transition: height .2s;
  -webkit-transition: height .2s;
  -moz-transition: height .2s;
  -ms-transition: height .2s;
  -o-transition: height .2s;
}
#team .flex-container .flex-box:hover{
  transition-delay: .1s;
  background-color: #1C1D21;
}
#team .flex-container .flex-box:hover::before {
  height: 100%;

}

#team .flex-container .flex-box .box-img {
  width: 320px;
  position: relative;
}
#team .flex-container .flex-box .box-img .social-icons {
  position: absolute;
  display: block;
  right: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -ms-transition: opacity .2s;
  -o-transition: opacity .2s;
}
#team .flex-container .flex-box:hover .box-img .social-icons {
  opacity: .9;
  visibility: visible;
}
#team .flex-container .flex-box .box-img .social-icons a:hover {
  opacity: 0.8;
}
#team .flex-container .flex-box .box-img .social-icons a{
  display: block;
  background-color: var(--clr-primary);
  width: 50px;
  height: 50px;
  transition: opacity .2s;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -ms-transition: opacity .2s;
  -o-transition: opacity .2s;
}
#team .flex-container .flex-box .box-img .social-icons a i{
  color: #fff;
  width: fit-content;
  height: fit-content;
  text-align: center;
  display: block;
  margin: auto;
  padding: 15px 0 10px;
  
}
#team .flex-container .flex-box .box-img img {
  width: 100%;
  margin-bottom: 20px;
}
#team .flex-container .flex-box .box-text {
  text-align: center;
  position: relative;
  z-index: 2;
}
#team .flex-container .flex-box:hover .box-text h3 {
  transition-delay: .1s;
  color:#fff;
}
#team .flex-container .flex-box .box-text span {
  color: var(--clr-text);
  text-transform: uppercase;
  font-size: 14px;
}
#team .flex-container .flex-box:hover .box-text span {
  color: var(--clr-primary);
}

/* =========================
    13) News
=============================*/
#news{
  background-color:var(--clr-bg-section) ;
}

#news .flex-container{
  margin-top: 100px;
  width: 100%;
  
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

#news .flex-container .flex-box{
  width: 360px;
  height: fit-content;
}
#news .flex-box .box-img{
  width: 360px;
  margin: 0;
  padding: 0;
}
#news .flex-box .box-img img{
  width: 100%;
  margin: 0;
}
#news .flex-box .box-description{
  width: fit-content;
  height: 100%;
  padding:10px 20px 40px;
}

#news .flex-box ul.box-subtitle{
  margin: 10px 0 20px;
  padding: 0;
}
#news .flex-box .box-subtitle li{
  list-style: none;
  display: inline-block;
  padding: 0 15px 0 0;
  font-size: 14px;
}
#news .flex-box ul.box-subtitle li i{
  margin-right: 5px;
}
#news .flex-box .box-description p{
  color: var(--clr-text);
  line-height: 1.6;
}

/* =========================
    14) Contact
=============================*/
#contact .flex-container{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
#contact .flex-container .flex-box{
  text-align: center;
}
#contact .flex-container .flex-box h3{
  font-size: 21px;
  margin: 15px;
}
#contact .flex-container .flex-box p{
  color: var(--clr-text);
}
#contact .contact-form{
  width: calc(50% -10px);
  text-align: center;
}
textarea,
#contact input[type="text"]{
  height: 40px;
  width: calc(100% - 50px);
  margin: 20px;   
  border: none;
  background: #F4F4F4;
  border-bottom: 2px solid #EEE;
  color: #354052;
 
  opacity: 0.5;
  -webkit-transition: 0.2s border-color, 0.2s opacity;
  transition: 0.2s border-color, 0.2s opacity;
}
#contact .contact-form textarea{
  width: calc(100% - 20px);
  min-height: 80px;
  resize: vertical;
}
textarea:focus,
#contact input[type="text"]:focus{
  border-color: #6195FF;
  opacity: 1;
}

/* #contact .contact-form input[name="name"],
#contact .contact-form input[name="email"] */

#contact #name,
#contact #email{
display: inline-block;
padding: 0;
margin: 0;
width: calc(50% - 40px) ;

}
#contact #name{

 margin-right: 10px;
}
#contact #email{
  margin-left: 10px;
}
#contact form button{
  border: none;
  background-color: var(--clr-primary);
  color: #fff;
  width: 185px;
  height: 50px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
#contact form button:hover{
  opacity: 0.8;
}
/* =========================
    15) 
=============================*/
